div.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

}

div.App h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

div.SearchView {
  margin: 0 auto;
}

div.SearchForm {
  margin: 0 auto;
}

ul.recipe-list {
  list-style: none;
}

span.recipe-link:hover {
  text-decoration: underline;
}

div.recipe-light {
  margin: 0 auto;
  max-width: 750px;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  border: 2px orange solid;
}

div.recipe-light h3 {
  text-align: center;
}

div.recipe-light h5 {
  text-align: center;
}

div.recipe-dark {
  margin: 0 auto;
  max-width: 750px;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px orange solid;
}

div.recipe-dark h3 {
  text-align: center;
}

div.recipe-dark h5 {
  text-align: center;
}

div.ingredients {
  display: flex;
}

ul.ingredient-list {
  margin: 0 auto;
}

div.instructions {
  display: flex;
}

ol.instruction-list {
  margin: 0 auto;
}

div.login-form {
  text-align: center;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

div.login-form div{
  margin: 5px;
}

div.register-form {
  text-align: center;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

div.register-form div{
  margin: 5px;
}

div.search-results {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  /*display: flex;*/
  border: 2px orange solid;
}

div.search-results ul{
  margin: 0 auto;
}

div.search-results-light {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  /*display: flex;*/
  border: 2px orange solid;
}

div.search-results-light ul{
  margin: 0 auto;
}

div.search-results-dark {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 20px;
  /*display: flex;*/
  border: 2px orange solid;
}

div.search-results-dark ul{
  margin: 0 auto;
}

div.register-field {
  display: flex;
  flex-direction: column;
}

img.header {
  width: 350px;
  margin: 0 auto 10px;
}

@media(max-width: 375px) {
  img.header {
    width: 200px;
  }
}

img.chef-hopper {
  width: 200px;
  margin: 0 auto;
}

#disclaimer {
  padding: 3em;
}