div.App {
  margin: 0 auto;
  display: flex;
}

div.SearchView {
  margin: 0 auto;
}

div.SearchForm {
  margin: 0 auto;
}

ul.recipe-list {
  list-style: none;
}

span.recipe-link {
  color: green;
}

span.recipe-link:hover {
  text-decoration: underline;
}
