div.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

div.App h1{
  text-align: center;
}

div.SearchView {
  margin: 0 auto;
}

div.SearchForm {
  margin: 0 auto;
}

ul.recipe-list {
  list-style: none;
}

span.recipe-link {
  color: green;
}

span.recipe-link:hover {
  text-decoration: underline;
}

div.recipe {
  margin: 0 auto;
  max-width: 750px;
}

div.recipe h3 {
  text-align: center;
  /*display: flex;*/
}

div.recipe h5 {
  text-align: center;
}

div.ingredients {
  display: flex;
}

ul.ingredient-list {
  margin: 0 auto;
}

div.instructions {
  display: flex;
}

ol.instruction-list {
  margin: 0 auto;
}

div.login-form {
  text-align: center;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

div.login-form div{
  margin: 5px;
}