body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: green;
  height: 100%;
}

code {
    font-family: 'Montserrat', sans-serif;
    background-color: green;
}

div.App {
	margin: 0 auto;
}
